Repository DanielFernandezFdez/GESPRO_Teoria_2022, pull requests merged in 2022-12, with the labels that each got.

#68 Create Login_de_la_app.py
  Login_de_la_app.py
Labels: Iniciosesion

#67 Create identificar_al_usuario.py
  identificar_al_usuario.py
Labels: Iniciosesion

#66 Create comprobar_contraseña.py
  comprobar_contraseña.py
Labels: Registro

#74 Create Operación de registro.py
  Operación de registro.py
Labels: Registro

#76 Create Almacenamiento de datos personales
  Almacenamiento de datos personales
Labels: Registro

#79 Create Creador del nombre de usuario
  Creador del nombre de usuario
Labels: Registro

#86 Create Modificar la velocidad de reproduccion
  Modificar la velocidad de reproduccion
Labels: Reproducir, Velocidad

#92 Create Opciones de velocidad
  Opciones de velocidad
Labels: Velocidad

#93 Create Modificar la velocidad según la seleccionada
  Modificar la velocidad según la seleccionada
Labels: Velocidad

#75 App 49 generacion de perfil con nombre personalizado
  Generacion-de-perfil-con-nombre-personalizado.py
Labels: Perfiles

#73 Create Opcion-de-restricciones
  Opcion-de-restricciones
Labels: Perfiles, Registro

#71 Create Creacion-de-perfiles
  Creacion-de-perfiles
Labels: Perfiles

#69 Create Opciones-para-modificar-la-calidad.py
  Opciones-para-modificar-la-calidad.py
Labels: Calidad, Imagen

#58 App 54 codificar la calidad del video
  Codificar-la-calidad-de-video.py
Labels: Calidad

#64 Create Modificar-la-calidad-de-la-imagen
  Modificar-la-calidad-de-la-imagen
Labels: Calidad, Imagen

#84 Create Verificación en dos pasos
  Verificación en dos pasos
Labels: Registro

#83 Create Buscador-y-recomendaciones-de-usuario.py
  Buscador-y-recomendaciones-de-usuario.py
Labels: Algoritmo, Buscador

#98 Create Creacion del buscador
  Creacion del buscador
Labels: Algoritmo, Buscador

#82 Create Generacion-del-algoritmo.py
  Generacion-del-algoritmo.py
Labels: Algoritmo

#78 Create Aprendizaje-del-algoritmo.py
  Aprendizaje-del-algoritmo.py
Labels: Algoritmo

#63 Create catalogo_principal_historial_de_reproduccion.py
  catalogo_principal_historial_de_reproduccion.py
Labels: Historial, Catalogo

#61 Create Creacion_del_catalogo.py
  Creacion_del_catalogo.py
Labels: Catalogo

#60 Mantenimiento_actualizaciones_de_catalogo.py
  Mantenimiento_actualizaciones_de_catalogo.py
Labels: Catalogo

#56 bases_de_datos_del_historial.py
  archivopython.py
  base_de_datos_del_historial.py
Labels: Historial

#94 Create interfaz_grafica_del_historial
  Interfaz grafica del historial.py
Labels: Historial

#55 barra_de_transcurso__del_video
  Archivo python.py
Labels: Reproducir

#77 Create Añadir_barra_de_sonido
  Añadir_barra_de_sonido
Labels: Sonido

#80 Create Cambiar_el_sonido_segun_la_barra
  Cambiar_el_sonido_segun_la_barra
Labels: Sonido

#91 App 79 opción de visualizar diferentes películas
  Opción-de-visualizar-diferentes-películas.py
Labels: Películas

#85 Create Visualizacion-de-diferentes-peliculas
  Visualizacion-de-diferentes-peliculas.py
Labels: Películas

#101 Create Descargas en diferentes audios
  Descargas en diferentes audios
Labels: Descargas

#104 Create Descarga en diferentes idiomas
  Descarga en diferentes idiomas
Labels: Descargas

#108 Revert "Create Descarga en diferentes idiomas"
  Descarga en diferentes idiomas
Labels: Descargas, Downloads

#109 Revert "Create Descargas en diferentes audios"
  Descargas en diferentes audios
Labels: Descargas, Downloads

#110 Create Opcion de visualizacion compartida con otros usuarios
  Social/Opcion de visualizacion compartida con otros usuarios
Labels: VerJuntos

#96 Create Opcion-de-Watch-Together
  Social/Opcion-de-Watch-Together.py
Labels: VerJuntos, WatchTogether

#97 Create Valoracion
  Opcion_de_comentar_opiniones_sobre_las _peliculas
  Social/Valoracion
  opcion_de_comentar_opiniones.py
Labels: Valoración, Valorar

#95 Create Opción de valorar las opiniones de otros usuarios
  Social/Opcion_de_valorar_las_opiniones_de_otros_usuarios
Labels: Valoración, Valorar

#99 Create Descargas
  Social/Descargas
Labels: Descargas, Downloads

#106 Create Descarga de peliculas o series
  Social/Descarga de peliculas o series
Labels: Descargas, Downloads

#102 Create Aplicacion-para-ordenador.py
  Accesibilidad/Aplicacion-para-ordenador.py
Labels: Ordenador

#103 Create Aplicacion_para_movil
  Aplicacion_para_movil
Labels: Movil

#105 Create Aplicación_parra_tablet.py
  Accesibilidad/Aplicación_parra_tablet.py
Labels: Multidispositivo, Tablet

#107 Create Multidispositivo
  Accesibilidad/Multidispositivo
Labels: Multidispositivo, multi-device
